__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

.env
.venv
env/
venv/
ENV/

*.ipynb_checkpoints/
.ipynb_checkpoints/

*.pt
*.pth
*.onnx

checkpoints/
pseudo_masks/
pipeline_outputs/

Brain MRI ND-5 Dataset/

.DS_Store
Thumbs.db

*.log

BraTS/
